<html>
<head>
  <style>
    a { color: black;}
    .found a { color: red;}
    li {display: inline;}
  </style>
</head>

<body onload="result('<%= status %>');">
<div>
  <a href="/">TOP</a>
  <% keywords.each do |keyword| %>
    ＞ <span><%= keyword %></span>
  <% end %>
  <% unless status == 'none' %>
    <span>[Result:<%= status %>]</span>
  <% end %>
</div>

<ul>
  <% items.each_with_index do |item, index| %>
    <% class_name = "found" if index == good_index || index == bad_index %>
    <li class="<%= class_name %>"><a href="javascript:clickItem('<%= item %>');"><%= item %></a></li>
  <% end %>
</ul>

<form name="form" action="/search" method="post">
  <% keywords.each do |keyword| %>
    <input type=hidden name="keywords[]" value="<%= keyword %>" />
  <% end %>
</form>

<script>
function clickItem(keyword) {
  var element = document.createElement('input');
  element.name = "keywords[]";
  element.type = "hidden";
  element.value = keyword;
  document.form.appendChild(element);
  document.form.submit();
}
function result(status) {
  if (status !== 'none') {
    alert(status);
  }
}
</script>
</body>
</html>
